<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div layout:fragment="content">
        <div>
            <a class="btn btn-primary" th:href="@{/user/create}">New User</a>
        </div>
        <br>
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${userList}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.role}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/user/detail/{id}(id=${item.id})}">Detail</a>
                        <a class="btn btn-warning" th:href="@{/user/update/{id}(id=${item.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/user/delete/{id}(id=${item.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
    </div>
</body>

</html>